name: Main

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: "ruby-latest"
            ruby-version: "4.0"
          - name: "ruby-minus-one"
            ruby-version: "3.4"
          - name: "ruby-minus-two"
            ruby-version: "3.3"
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby-version }}
      - run: bundle exec rake
